body {
	margin-left:50px;
	margin-top:50px;
}
table#Asiakkaat td  {
	border: 1px solid black;
	font-family: Helvetica, Arial, sans-serif;
	border-collapse: collapse;
	padding:7px;
}
table#Asiakkaat th {
	background-color: #00ccff;
	font-size: 1.2em;
	color: #cceeff;
	padding-bottom:5px;
	padding-top:5px;
}
table#Asiakkaat tr:nth-child(even){
	background-color: #cceeff;
}
table#Asiakkaat tr:nth-child(odd){
	background-color: #00cc66;
}
